apparmor==2.10.95
apparmor.click==0.3.13.1
apt-xapian-index==0.47
apturl==0.5.2
Brlapi==0.6.4
catfish==1.4.2
command-not-found==0.3


click==0.43
defer==1.0.6
indicator-cpufreq==0.2.2
language-selector==0.1
LibAppArmor==2.10.95
louis==2.6.4
onboard==1.2.0
oneconf==0.3.9
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-systemd==231
python-xapp==1.0.0
software-center-aptd-plugins==0.0.0
system-service==0.3
tables==3.2.2
ubuntu-drivers-common==0.0.0
unattended-upgrades==0.1
ufw==0.35
unity-scope-audacious==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-clementine==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-gmusicbrowser==0.1
unity-scope-gourmet==0.1
unity-scope-guayadeque==0.1
unity-scope-manpages==0.1
unity-scope-musique==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7


usb-creator==0.3.0
xdiagnose==3.8.4.1
xkit==0.0.0



